{% load static %}
<!DOCTYPE html>
<html>
    <link rel="shortcut icon" href="images/alzheimer.png'" alt="ALzhimers icons created by Victoruler-Flaticon">
    <head> 
        <title>Alzhiemers Classifier</title>
    </head>

    <form method="post" enctype = "multipart/form-data" action="predictImage">
        {% csrf_token %}
        <h1>Welcome to the Alzhiemers Image Classifier</h1>

        <label for="filepath">Upload Image file here:</label>
        
        <input type="file" name="filepath" accept=".png, .jpeg, .jpg">

        <br> <br>

        <input type="submit" value="Submit"> <br> <br>

    
        <img src="{{filepathName}}" alt="MRI Image">
        {{filepathName}}

        

    </form>
</html>