/* Home Page Styles */
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #EDEDF4;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: #EDEDF4;
}
.navbar-brand{
    font-size: 24px;
    font-weight: 500;
    margin-right: 100px;
}


.navbar ul{
    font-weight: 450;
    font-size: 20px;
}


.navbar li:hover{
    border-bottom: 2px solid black;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: black;
    font-weight: 500;
    margin-top: 85px;
}
.text-box{
    flex-grow: 1; /* Allow the text box to take available space */
    display: flex; /* Use flex for centering */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */ 
    position: relative;
    background-image: url(images/pexels-tima-miroshnichenko-6010927.jpg);
}
.text-overlay {
    color: white; /* Change this based on your image color for visibility */
}

#title{
    font-size: 75px;
    text-wrap: nowrap;
}

#subtitle{
    font-size: 20px;
    font-weight: 500;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit; /* Use the same background as the parent */
    filter: blur(5px); /* Apply blur only to this overlay */
    z-index: 0; /* Place it behind the text */
}

.card{
    transition: trasnform 0.2s;
}

.card-link{
    text-decoration: none;
    color: black;
}

/* Section 2 Cards */
.card:hover{
    box-shadow: 0 0 20px 0px rgb(89, 1, 92);
    transform: scale(1.05)
}
.scroll-container {
    overflow-x: auto; /* Allows horizontal scrolling */
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
}

article.about{
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

article.about img {
    width: 100%;
    border-radius: 8px;
}

article p, article h3 {
    margin: 20px 10px;
}


/* Media Queries for smaller screens */
@media (max-width: 1590px) {
    .text-box {
        width: 90%;
    }

    .text-box h1 {
        font-size: 45px;
    }

    .text-box p {
        font-size: 16px;
    }

}

@media (max-width: 1024px) {
    .text-box {
        width: 95%;
    }

    .text-box h1 {
        font-size: 40px;
    }

    .text-box p {
        font-size: 14px;
    }
    article.about{
        grid-column: span 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        align-items: center;
    
    }
}

@media (max-width: 750px) {
    .text-box {
        width: 100%; /* Take full width but add padding */
        padding: 15px;
    }

    .text-box h1 {
        font-size: 30px;
    }

    .text-box p {
        font-size: 12px;
    }

    article.about{
        display: block;
        margin: 0 20px;
    }
}